*{
   color: #666666;
   font-size: 15px;
   padding: 0;
   margin: 0;
}
@sideBar: rgb(50, 50, 50);
@bg:rgb(254, 254, 254);
@lattice:rgb(238, 238, 238);
@setting: rgb(219, 219, 219);
@disabled: rgb(158, 158, 158);
@locked: rgb(156, 156, 156);


body{
   font-family: 'Microsoft Yahei',Helvetica,Tahoma,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
   user-select: none;
   overflow: hidden;
   background-color: rgb(0, 0, 0);
}

button{
   outline: none;
   border: none;
   border-radius: 4px;
   min-width: 120px;
   width: auto;
   height: 30px;
   color: #fff;
   transition: 0.2s ease-in-out;
   &:hover{
      filter: brightness(1.1);
   }
   &:active{
      filter: brightness(0.9);
   }
}
button[class="enter"]{
   background-color: #62b600;
}
button[class="drop"]{
   background-color: #f27b13;
}
button[class="full"]{
   background-color: #1392f2;
}
input,textarea{
   outline: none;
   border: none;
   border-radius: 4px;
   height: 30px;
   padding: 6px;
   box-sizing: border-box;
   transition: 0.3s ease-in-out;
}
.disabled{
   color: @disabled;
}
textarea{
   background-color: transparent;
}
input{
   margin-left: 6px;
   background-color: @lattice - 40;
}
input[type="number"] {
   -moz-appearance: textfield;
   text-align: center;
   width: 80px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="range"] {
  background-color: rgba(240, 240, 240, 0.4);
  -webkit-appearance: none;
  width: 100px;
  height:3px;
  margin: 0;
  padding: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;/*去除默认样式*/
  height: 10px;
  width: 10px;
  background: @bg;
  border-radius: 50%;
}
.direction{
   width: 65px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   svg{
      margin-left: 6px;
   }
}
.locked{
   background-color: @locked;
}